[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "cakephp-2.5.4/app/Plugin/DebugKit"]
	path = cakephp-2.5.4/app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
